body {
  background-image: url("../src/app/assets/Images/background.jpg");
  background-size: cover;
}
.loading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 4em;
  font-weight: lighter;
  color: white;
  margin-top: 15%;
}
.game .menu-container {
  height: 100%;
  background-color: rgb(255, 115, 0);
  padding-right: 0;
}
.game .grid-container {
  padding-left: 0;
}
.grid .container {
  padding-left: 0;
}
.grid .container,
.grid .grid,
.grid .custom-row,
.grid .selection-row,
.grid .winner-row {
  margin-left: auto;
  margin-right: auto;
}
.grid .selection-row,
.grid .custom-row,
.grid .winner-row {
  width: 700px;
  height: 100px;
}
.grid .winner-row {
  margin-top: 15%;
}
.grid .winner-row p {
  font-size: 2em;
  color: rgb(255, 115, 0);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.grid .winner-row .actions-group {
  width: 100%;
}
.grid .winner-row .actions-group .again,
.grid .winner-row .actions-group .leave {
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: lighter;
  border-radius: 3px;
  width: 50%;
}
.grid .winner-row .actions-group .again {
  background-color: #4183D7;
}
.grid .winner-row .actions-group .leave {
  background-color: #C0392B;
}

.grid .case,
.grid .selection-case {
  width: 100px;
  height: 100px;
  float: left;
}
.grid .case .circle,
.grid .selection-case .circle {
  /* border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  width: 90px;
  height: 90px;
  cursor: pointer; */
  border-radius: 50%;
  border: 1px solid black;
  width: 90px;
  height: 90px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.grid .case .circle.red,
.grid .selection-case .circle.red {
  background-image: url("../src/app/assets/Images/round4.jpg");
  border: 1px solid black;
}
.grid .case .circle.white,
.grid .selection-case .circle.white {
  background-image: url("../src/app/assets/Images/boxround2.jpg");
}
.grid .case .circle.yellow,
.grid .selection-case .circle.yellow {
  background-image: url("../src/app/assets/Images/round5.jpg");
}

h2{
  color: rgb(255, 115, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  overflow-x:hidden;

}

.scoreboard {

  margin-left: 110%;

}
